.nav-toolbar {
  font-size: 1.5em;
}

.nav-toolbar.clear {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0);
}

.logo-button {
  cursor: pointer;
  font-weight: 700;
  font-size: 1em;
  user-select: none;
  transition: 0.3s
}

.logo-button:hover {
  color: rgba(255, 255, 255, 1);
  transition: 0.3s
}

.login-button {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.2em;
  transition: 0.3s
}

.login-button:hover {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
  transition: 0.3s
}
